<tbody>
    {% for item in agenda %}
    <tr>
        <td>{{ item.cliente }}</td>
        <td>{{ item.servico }}</td>
        <td>{{ item.horario }}</td>
        <td>{{ item.status }}</td>
        <td>
            <a href="{{ url_for('mudar_status', id=item.id, novo_status='Confirmado') }}">Conf</a>
            <a href="{{ url_for('excluir', id=item.id) }}">Excluir</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5">Nenhum agendamento encontrado no banco de dados.</td>
    </tr>
    {% endfor %}
</tbody>